## Practical assignment 3: Bankruptcy in the Netherlands

## Course: Programming with data (INFOB2PWD)

### Students: Annette Holst, Georg Vasiliv, Robin Papenhuijzen and Rina van Woerden

This data set contains information on the number of bankruptcy orders issued by Dutch Courts. The data is categorized based on the type of bankruptcy. It can be natural persons with or without sole proprietorship, enterprises, institutions and geographical regions.
The time span of this dataset is from January 2009 till February 2025. The latest figures are subject to revision and the last two months are provisional.

In [1]:
# Importing libraries
import pandas as pd

In [2]:
# Transforming the csv-file to a data frame
df = pd.read_csv("82522ENG_UntypedDataSet_20032025_155613.csv", sep = ";")
# Overview of the data set
df.head()

   ID TypeOfBankruptcy Regions   Periods  PronouncedBankruptcies_1
0   0          A047596  NL00    2009MM01                       563
1   1          A047596  NL00    2009MM02                       601
2   2          A047596  NL00    2009MM03                       768
3   3          A047596  NL00    2009KW01                      1932
4   4          A047596  NL00    2009MM04                       717

In [3]:
# Shows the size of the data set and the data types
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49320 entries, 0 to 49319
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        49320 non-null  int64
 1   TypeOfBankruptcy          49320 non-null  object
 2   Regions                   49320 non-null  object
 3   Periods                   49320 non-null  object
 4   PronouncedBankruptcies_1  49320 non-null  int64
dtypes: int64(2), object(3)
memory usage: 1.9+ MB
None

In [4]:
# Statistics of the data set
print(df.describe())

                 ID  PronouncedBankruptcies_1
count  49320.000000              49320.000000
mean   24659.500000                 51.365977
std    14237.601975                246.609041
min        0.000000                  0.000000
25%    12329.750000                  2.000000
50%    24659.500000                  8.000000
75%    36989.250000                 27.000000
max    49319.000000               9431.000000

In [5]:
# Filling missing values with NaN
#df.fillna("NaN")
# Check how many missing variables there are
#missing_values = df.isnull()

49320