## Practical assignment 3: Bankruptcy in the Netherlands

## Course: Programming with data (INFOB2PWD)

### Students: Annette Holst, Georg Vasiliv, Robin Papenhuijzen and Rina van Woerden

This data set contains information on the number of bankruptcy orders issued by Dutch Courts. The data is categorized based on the type of bankruptcy. It can be natural persons with or without sole proprietorship, enterprises, institutions and geographical regions.
The time span of this dataset is from January 2009 till February 2025. The latest figures are subject to revision and the last two months are provisional.

In [1]:
# Importing libraries
import pandas as pd

In [2]:
# Transforming the csv-file to a data frame
df = pd.read_csv("82522ENG_UntypedDataSet_20032025_155613.csv", sep = ";")
# Overview of the data set
df.head()

   ID TypeOfBankruptcy Regions   Periods  PronouncedBankruptcies_1
0   0          A047596  NL00    2009MM01                       563
1   1          A047596  NL00    2009MM02                       601
2   2          A047596  NL00    2009MM03                       768
3   3          A047596  NL00    2009KW01                      1932
4   4          A047596  NL00    2009MM04                       717

In [3]:
# Shows the size of the data set and the data types
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49320 entries, 0 to 49319
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        49320 non-null  int64
 1   TypeOfBankruptcy          49320 non-null  object
 2   Regions                   49320 non-null  object
 3   Periods                   49320 non-null  object
 4   PronouncedBankruptcies_1  49320 non-null  int64
dtypes: int64(2), object(3)
memory usage: 1.9+ MB
None

In [4]:
# Statistics of the data set
print(df.describe())

                 ID  PronouncedBankruptcies_1
count  49320.000000              49320.000000
mean   24659.500000                 51.365977
std    14237.601975                246.609041
min        0.000000                  0.000000
25%    12329.750000                  2.000000
50%    24659.500000                  8.000000
75%    36989.250000                 27.000000
max    49319.000000               9431.000000

In [5]:
# Source: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.value_counts.html
# Count unique values of tye of bankruptcy
type_bankruptcy = df.value_counts('TypeOfBankruptcy')
print(type_bankruptcy)

# Count unique values of regions (output not shown here, because there are many reasons)
# regions = df.value_counts('Regions')
# print(regions)

TypeOfBankruptcy
A028820    16440
A047596    16440
A047597    16440
Name: count, dtype: int64

As shown, there are three types of bankruptcies: A028820, A047596 and A047597    
As seen in meta-data, the codes mean the following:
* *A028820*: Nat. person with sole proprietorship
    * A legal form without legal personality, where one natural person owns the business. The owner is entirely liable for all business and capital matters. There is no distinction between business assets and personal assets.
* *A047596* stands for Total entities with/without legal pers.
    * Total entities with and without legal personality and sole proprietors
* *A047597* stands for Companies and institutions
    * Partnerships without legal personality and legal entities
 
To make the data set more clear, we will rename these codes to:
* A028820: only_sole_prop
* A047596: total
* A047597: without_sole_prop

In [6]:
# Source: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html
# Renaming types of bankruptcies
df = df.replace('A028820','only_sole_prop')
df = df.replace('A047596','total')
df = df.replace('A047597','without_sole_prop') 

# Check if succeeded
type_bankruptcy = df.value_counts('TypeOfBankruptcy')
print(type_bankruptcy)

TypeOfBankruptcy
only_sole_prop       16440
total                16440
without_sole_prop    16440
Name: count, dtype: int64

In [13]:
i = 20
t = 0
# List of provinces
list = ['Groningen', 'Fryslan', 'Drenthe', 'Overijssel', 'Flevoland', 'Gelderland', 'Utrecht', 'Noord-Holland', 'Zuid-Holland', 'Zeeland', 'Noord-Brabant', 'Limburg']
# For-loop to replace provinces indexes with names
for i in range(20,32):
    df = df.replace(f'PV{i}  ',f'{list[t]}')
    t = t + 1

# Check if it worked
# regions = df.value_counts('Regions')
# print(regions)

In [8]:
# Missing values => meta-data?

Research 1:

Research 2:

Research 3:

Research 4:

How do bankruptcy trend differ across different types (proprietorship, enterprises, institutions)
Covid => meer impact op eenmanszaken? (inclusief en exclusief vergelijken)
Vóór, na en tijdens corona
Method: Bar charts, that shows the number of bankruptcies for each type (natural persons, enterprises, institutions).